/* FONT. BASIC STYLE. CONTAINER */
  html,
  body {
    padding: 0;
    margin: 0;
  }

  .container {
    margin: 0 auto;
    max-width: 1600px;
    width: 100%;
    text-align: center;
  }

  h1 {
    position: absolute;
    font-size: 1px;
    top: 100px;
    left: 100px;
  }

  .button {
      background: #00AFDB;
      padding: 15px 47px;
      border: none;
      cursor: pointer;
      outline: none;

      font-family: Roboto,
      sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      text-transform: uppercase;
      color: #fff;
  }
/* END FONT, BASIC STYLE, CONTAINER */

/* HEADER */ 
.header {
  background: url('./assets/header-bg.png') no-repeat #000;
  background-position: center center;
}

.header-container {
  padding-bottom: 80px;
}

.header-menu {
  margin: 0 auto;
  max-width: 700px;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header-menu__item {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  align-items: center;
  color: #fff;
  opacity: 0.8;
  text-decoration: none;
}

.header__title {
  margin-top: 136px;
  margin-bottom: 0;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 75px;
  text-align: center;
  letter-spacing: 4.5px;
  text-transform: uppercase;
  color: #fff;
}

.header__subtitle {
  max-width: 504px;
  width: 100%;
  margin: 20px auto 0;

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
  color: #fff;
}

.header-button {
  margin-top: 30px;
}

.header-social-links {
  margin-top: 183px;
}
.header-social-links__item {}

.header-social-links__item+.header-social-links__item {
  margin-left: 30px;
}
/* END HEADER */




/* --- MAIN --- */
/* rappresent */
.rappresent {}
.implement.container,
.rappresent.container {
  display: flex;
  max-width: 1060px;
  width: 100%;
  padding: 120px 0 140px;
  justify-content: space-around;
  align-items: center;
}

.implement-content,
.rappresent-content {
  max-width: 407px;
  width: 100%;
  text-align: left;
}

.implement-content__title,
.rappresent-content__title {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #373737;
}

.implement-content__subtitle,
.rappresent-content__subtitle {
  margin-top: 20px;

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  color: #4E4E4E;
}

.implement-content__button,
.rappresent-content__button {
  margin-top: 30px;
}

.rappresent-image {}


/* OUR COMMUNITY */
.our-community {
  padding: 120px 0 140px;
  background: #F5F6F7;
}

/* DESCRIBE */
.subscribe {
  /* background-color: rgba(7, 6, 6, 0.2); */
}
.subscribe-container {
  padding: 217px 20px 277px;
  background: url('./assets/subscribe.png') no-repeat;
  background-position: center center;
  /* background-size: contain; */
}

.subscribe__title {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;

}
.subscribe__form {
  margin: 30px auto 0;
  max-width: 406px;
  width: 100%;
  height: 46px;
  display: flex;
}
.subscribe__form-input {
  padding: 14px 24px 12px;
  width: 100%;
  outline: none;
  border: none;
}
.subscribe__form-input::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  color: #373737;
}
.subscribe__form-button {
  padding: 14px 24px;
  background: #00AFDB;
  border: none;
  outline: none;
}


/* --- END MAIN --- */



/* FOOTER */
/* END FOOTER */
