/* FONT. BASIC STYLE. CONTAINER */
  html,
  body {
    padding: 0;
    margin: 0;
  }

  .container {
    margin: 0 auto;
    max-width: 1600px;
    width: 100%;
    text-align: center;
  }

  h1 {
    position: absolute;
    font-size: 1px;
    top: 100px;
    left: 100px;
  }
/* END FONT, BASIC STYLE, CONTAINER */

/* HEADER */ 
.header {
  background: url('./assets/header-bg.png') no-repeat #000;
  background-position: center center;
}

.header-container {
  padding-bottom: 80px;
}

.header-menu {
  margin: 0 auto;
  max-width: 700px;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header-menu__item {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  align-items: center;
  color: #fff;
  opacity: 0.8;
  text-decoration: none;
}

.header__title {
  margin-top: 136px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 75px;
  text-align: center;
  letter-spacing: 4.5px;
  text-transform: uppercase;
  color: #fff;
}

.header__subtitle {
  max-width: 504px;
  width: 100%;
  margin: 20px auto 0;

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
  color: #fff;
}

.header-button {
  margin-top: 30px;
  background: #00AFDB;
  padding: 15px 47px;
  border: none;
  cursor: pointer;
  outline: none;

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.header-social-links {
  margin-top: 183px;
}
.header-social-links__item {}

.header-social-links__item+.header-social-links__item {
  margin-left: 30px;
}
/* END HEADER */

/* MAIN */
/* END MAIN */

/* FOOTER */
/* END FOOTER */
